<% if !flash[:notice].nil? %>
  <br />
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="text-center"><%= notice %></p>
  </div>
<% end %>
<% if !flash[:alert].nil? %>
  <br />
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="text-center"><%= alert %></p>
  </div>
<% end %>
