<%= form_for kitten do |form| %>
  <%= render 'form_errors', kitten: kitten %>
  <div class="form_group">
    <%= form.label :name, "Name: " %><br />
    <%= form.text_field :name, class: "form-control" %><br />
  </div>

  <div class="form_group">
    <%= form.label :age, "Age: " %><br />
    <%= form.text_field :age, class: "form-control" %><br />
  </div>

  <div class="form_group">
    <%= form.label :softness, "Softness: " %><br />
    <%= form.text_field :softness, class: "form-control" %><br />
  </div>

  <div class="form_group">
    <%= form.label :cuteness, "Cuteness: " %><br />
    <%= form.text_field :cuteness, class: "form-control" %><br />
  </div>

  <%= form.submit btn_text, class: "btn btn-default btn-block"%>
<% end %>
