<h1 class="text-center">Editing Kitten</h1>

<%= render 'form', kitten: @kitten, btn_text: "Update kitten" %>

<br />

<%= link_to 'Show', @kitten, class: "btn btn-default" %>
<%= link_to 'Back', kittens_path, class: "btn btn-default" %>
