<h1 class="text-center">Kittens</h1>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Name</th>
      <th class="text-center">Age</th>
      <th class="text-center">Cuteness</th>
      <th class="text-center">Softness</th>
      <th class="text-center">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @kittens.each do |kitten| %>
      <tr>
        <td><%= kitten.id %></td>
        <td><%= kitten.name %></td>
        <td><%= kitten.age %></td>
        <td><%= kitten.softness %></td>
        <td><%= kitten.cuteness %></td>
        <td>
          <%= link_to 'Show', kitten %>
          <%= link_to 'Edit', edit_kitten_path(kitten) %>
          <%= link_to 'Delete', kitten, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Kitten', new_kitten_path, class: "btn btn-default btn-block" %>
<br />
