<h1>Kitten: <%= @kitten.id %></h1>
<ul>
  <li>Name: <%= @kitten.name %></li>
  <li>Age: <%= @kitten.age %></li>
  <li>Softness: <%= @kitten.softness %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
</ul>
<%= link_to 'Edit', edit_kitten_path(@kitten), class: "btn btn-default" %>
<%= link_to 'Back', kittens_path, class: "btn btn-default" %>
<%= link_to 'Delete', kitten_path(@kitten), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
